<VirtualHost {{ ansible_all_ipv4_addresses[1] }}:80>
    ServerName {{ ansible_all_ipv4_addresses[1] }}
    ProxyPass / http://{{ hostvars['tomcat1'].ansible_all_ipv4_addresses[1] }}:8080/
    ProxyPreserveHost On  
    ProxyRequests Off
</VirtualHost>

